body{
    margin:25%; 
    background-color: #0c192c;
    font-family: 'Outfit', sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.hov:hover{
    color: cyan;
}


.main{
    margin: auto;
    padding: 20px;
    background-color:hsl(216, 50%, 16%) ;
    width: 275px;
    border-radius: 8px;
    position: relative;
}


.figure img{
    border-radius: 8px;
}

.figure .image-hover {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: opacity .2s;
    border:solid cyan  115px;
    background-color: cyan;
}

.figure:hover img.image-hover {
    opacity: 0.5;
}


.text h3{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.text p{
    font-weight: 400;
    color: hsl(215, 51%, 70%);
    line-height: 20px;
}


.round{
    border: 2px solid white;
    border-radius: 50%;
}

.bottom-text{
    position: absolute;
    bottom: 45px;
    padding-left: 20px;
}

.attribution{
    text-align: center;
    margin-top: 15%;
    
}


  